{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="{{user_info.profile_image.url}}"  class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <a href="">{{user_info.username}}</a>
                </div>
                {% if user != user_info %}
                    <div class="col-4">
                        {% if user_info in user.followings.all %}
                            <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-secondary btn-sm">팔로잉</a>
                        {% else %}
                            <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-primary btn-sm">팔로우</a>
                        {% endif %}
                    </div>    
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    게시물 {{user_info.post_set.all|length}}
                </div>
                
                <div class="col">
                    <a href="{% url 'accounts:followers' username=user_info.username %}">팔로워</a>{{user_info.followers.all|length}}
                </div>
                <div class="col">
                    팔로잉  {{user_info.followings.all|length}}
                </div>
            </div>
        </div>

        <div class="row row-cols-3">
            {% for post in user_info.post_set.all %}

                <div class="col">
                    <div class="card">
                        <img src="{{post.image.url}}" alt="">
                    </div>
                </div>
            
            {% endfor %}
        </div>    
    </div>
{% endblock %}